<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVwAUlr5C2Gu5kv9BNbIw3UcyihVgLQWM</string>
	<key>GCM_SENDER_ID</key>
	<string>955259076235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.readingPromotionApp</string>
	<key>PROJECT_ID</key>
	<string>coriander-app-f5b22</string>
	<key>STORAGE_BUCKET</key>
	<string>coriander-app-f5b22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:955259076235:ios:37248f03b7e01b84181e8e</string>
</dict>
</plist>